@model WebApplicationMVC.ViewModels.ViewModels.EmployeeViewModel


<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="fw-bold">Add New Employee</h2>
    </div>

    <div class="card shadow p-4 mt-3">
        <form asp-action="Create">
            @Html.Partial("_EmployeeForm", Model)

            <button type="submit" class="btn btn-success">ADD</button>
            <a href="/Employee/Index" class="btn btn-secondary ms-2">Cancel</a>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/Email-Validation.js"></script>
    <script src="~/js/Password-Validation.js"></script>
    <script src="~/js/Phone-Validation.js"></script>
    <script src="~/js/NoNumbers-Validation.js"></script>
}
