@{
    ViewData["Title"] = "Registration Successful";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow p-4 text-center">

                <h2 class="text-success fw-bold">Employee Registered Successfully!</h2>
                <p class="mt-3">Your employee has been added to the system.</p>

                <!-- NEW BUTTON HERE -->
                <a href="/Employee/Index" class="btn btn-secondary mt-3">
                    View All Employees
                </a>

                <a href="/Employee/Create" class="btn btn-primary mt-3 ms-2">
                    Register Another Employee
                </a>


            </div>

        </div>
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-md-6">
        @* <vc:recent-employees count="2"></vc:recent-employees> *@
        @await Component.InvokeAsync("RecentEmployees", new { count = 2 })
    </div>
</div>