@{
    ViewData["Title"] = "Contact Form";
}

<h2>Contact Form</h2>

<form method="post" action="/product/contact">
    <label>Message:</label>
    <input name="message" type="text" placeholder="Type message..." />

    <button type="submit">Send</button>
</form>
