<div style="max-width:400px;" class="container mt-5">
    <h3>Human Verification</h3>

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">@TempData["Error"]</div>
    }

    <div class="card p-3 shadow">
        <p><strong>Enter this code:</strong></p>

        <h2 class="text-primary">@ViewBag.CaptchaCode</h2>

        <form method="post" asp-action="Verify">
            <input type="text" name="userInput" class="form-control mb-3" required />
            <button class="btn btn-primary w-100">Verify</button>
        </form>
    </div>
</div>
